* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #999;
	font-size: 12px;
	background:#bfbfbf;
	overflow:hidden;
	
}

/* QUOTE BOX */
#quotebox { width:600px; height:150px; background-image:url("../images/quote_bg.png"); margin:20px auto; color:#000;
	-webkit-box-shadow:0 0 5px #fff; -moz-box-shadow:0 0 5px #fff; box-shadow:0 0 5px #fff; }
.quote { display:block; float:left; height:69px; background-color:rgba(0, 0, 0, 0.8); margin-left:20px; margin-top:14px; padding:7px; }
.quote p { font:bold 17px Helvetica, Arial, Sans-serif; }
.quote .author { font:italic 13px Georgia,serif,Times; color:#ff4f00; padding-top:1px; }
.quotemark { display:block; float:left; font:bold 300px Helvetica; letter-spacing:-35px; line-height:300px; color:rgba(255, 255, 255, 0.8); }
.rightquote { margin-top:-3px; }
h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -2px;
	line-height: 100%;
}

h1.title {
	font-size: 46px;
	font-weight: 700;
	color: #6a6a6a;


}


h2 {
	font-size: 24px;
}

p {
	margin: 0 0 15px 0;
}

.menuBtn {

	background: center center no-repeat transparent;
	background: #000;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;

}

.clear {
	clear: both;
}
.wrap {
		/*background:url(../images/bg.png) top left repeat-x;*/
		width: 100%;
		max-width: 1366px;
		min-width: 960px;
		z-index: 10;
		position: relative;
		margin: 0 auto;
		padding: 0;

}



.section {
	width: 100%;
	max-width: 1366px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
}


.inner {
	width: 1366px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}


/* This is the selector i used for my menu, it needs to be set as position:absolute; */
.subMenu {
	position: absolute;
	top: 600px;
	height: 50px;
	z-index: 1000;
	width: 100%;
	max-width: 1366px;
	min-width: 960px;

}

.subMenu .inner {
	padding:0;
	font-weight: 400;
}
.subNavBtn {
	display: block;
	height: 35px;
	width: 8%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
	color: #fff;
}

.end {
	margin: 0;
}


/* SECTIONS */
.sTop {
	min-height: 780px;
	background:#000;
	color:#3d3d3d;
	
}



.s1 {
	min-height: 650px;
	background:#000;
}


.s2 {
	min-height: 650px;
	background: #000 url(../images/backgrounds/wrkshp.jpg);
}


.s3 {
	min-height: 650px;
	background:#000 url(../images/backgrounds/guest.jpg);
}


.s4 {
	min-height: 650px;
	background:#000  url(../images/backgrounds/chillers.jpg);
	color: white;
}


.s5 {
	min-height: 650px;
	background:#000 url(../images/backgrounds/sponsorship.jpg);
	color: white;
}


.s7 {
	min-height: 650px;
	background:#000 url(../images/backgrounds/contact.jpg);
}
